:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Bright-Red: hsl(9, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  --Primary-Font: "Raleway", "sans-serif";
  --Secondary-Font: "Open Sans", "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--Very-Dark-Blue);
  font-family: var(--Secondary-Font);
}

body {
  margin: 0 auto;
}

.header {
  width: 310px;
  max-width: 320px;
  margin: auto;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header_img {
  width: 80px;
  height: 26px;
}

.header_list {
  display: flex;
  list-style: none;
}

.header_list_item {
  margin: 0 0 0 12px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
}

.header_list_item a {
  text-decoration: none;
}

.hero {
  width: 310px;
  max-width: 320px;
  margin: 80px auto 0;
  text-align: center;
}

.hero_img img {
  width: 100%;
}

/* .hero_description {
} */

.hero_title {
  margin: 40px 0 0 0;
  font-family: var(--Primary-Font);
  font-weight: 700;
}

.hero_text {
  margin: 24px 0 0 0;
  font-family: var(--Secondary-Font);
  font-size: 0.9rem;
}

.hero_form {
  margin: 24px 0 0 0;
}

.hero_input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
}

.hero_input::placeholder {
  color: var(--Light-Gray);
}

.hero_btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: var(--Bright-Blue);
  border: none;
  color: var(--Light-Grayish-Blue);
  font-size: 0.9rem;
  font-family: var(--Primary-Font);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.form_alert {
  margin: 4px 0;
  font-size: 0.7rem;
  color: var(--Bright-Red);
  border-radius: 4px;
  visibility: hidden;
}

.prod {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 144px auto 0;
  padding: 0 0 0 0;
  text-align: center;
  background-color: var(--Light-Grayish-Blue);
}

.prod_ornament {
  margin: -44px 0 0 0;
}

.prod-description_img,
.prod-description_title,
.prod-description_text,
.prod-link {
  width: 310px;
  max-width: 320px;
  margin: auto;
}

.prod-description_img img {
  width: 100%;
}

.prod-description_title {
  margin: 40px auto 0;
  font-family: var(--Primary-Font);
  font-size: 1rem;
  font-weight: 700;
}

.prod-description_text {
  margin: 24px auto 0;
  font-family: var(--Secondary-Font);
  font-size: 0.9rem;
  text-align: left;
}

.prod-link {
  display: inline-flex;
  width: 160px;
  /* justify-content: center; */
  align-items: center;
  height: 36px;
  border-bottom: 1px solid var(--Moderate-Cyan);
  margin: 40px auto 0;
}

.prod-link > p {
  font-size: 0.9rem;
}

.prod-link > img {
  width: 20px;
  height: 20px;
  margin: 0 0 0 8px;
}

.prod-redirect {
  text-decoration: none;
  color: var(--Moderate-Cyan);
}

.prod-card {
  background-color: white;
  text-align: left;
  width: 300px;
  max-width: 310px;
  margin: 40px auto 80px;
  padding: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12);
}

.prod-card_quote {
  width: 16px;
}

.prod-card_text {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.prod-card_person {
  display: flex;
  margin: 12px 0 0 0;
}

.prod-card_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 12px 0 0;
}

/* .prod-card_person-info {
} */

.prod-card_person-name {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.prod-card_person-charge {
  font-size: 0.5rem;
}

.eaccess {
  padding: 56px 0;
  text-align: center;
  background-color: var(--Desaturated-Blue);
}

.eaccess_title {
  width: 310px;
  max-width: 320px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: var(--Primary-Font);
  color: var(--Light-Grayish-Blue);
}

.eaccess_text {
  width: 300px;
  max-width: 320px;
  margin: 24px auto 0;
  font-size: 0.9rem;
  color: var(--Light-Grayish-Blue);
}

.eaccess_form {
  margin: 24px auto 0;
  width: 280px;
  max-width: 300px;
}

/* .eaccess_input-container {
} */

.eaccess_input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.eaccess_alert {
  margin: 4px 0;
  font-size: 0.7rem;
  color: var(--Bright-Red);
  border-radius: 4px;
  visibility: hidden;
}

.eaccess_btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: var(--Bright-Blue);
  border: none;
  color: var(--Light-Grayish-Blue);
  font-size: 0.8rem;
  font-family: var(--Primary-Font);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.footer {
  background-color: var(--Very-Dark-Blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
  color: white;
}

.footer_down {
  width: 310px;
}

.footer_logo {
  width: 100%;
  margin: 72px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo > img {
  width: 172px;
  height: 56px;
  margin: 0 auto;
  /* filter: invert(1); */
  filter: grayscale(100%);
  filter: brightness(5);
  filter: contrast(3);
}

.footer-x {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer_location figure {
  margin: 0 24px 0 0;
}

.footer_location > p {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact {
  display: flex;
  align-items: center;
  margin: 16px auto 0;
}

.contact figure {
  margin: 0 22px 0 0;
}

.contact > p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: white;
}

.links {
  margin: 36px 0 0 0;
}

.links a {
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 2rem;
}

.links a li {
  color: white;
  list-style: none;
}

.rrss {
  display: flex;
  margin: 46px auto 0;
  justify-content: space-evenly;
  width: 200px;
}

.rrss figure {
  width: 40px;
  height: 40px;
  margin: 0 12px;
  border-radius: 50%;
  border: solid 2px white;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rrss figure img {
  width: 16px;
  height: 16px;
}
